---
import Layout from '../layouts/Layout.astro';
import LinkButton from '../components/LinkButton.astro';
---

<Layout title="👷 ¡En construcción! 🧱">
  <main>
    <section>
      <h1 class="text-gradient">¡Vuelve pronto!</h1>

      <article>
        <section class="instructions">
          <p>
            Mi sitio web aún <strong>está en construcción </strong>, pero estoy
            trabajando duro para que esté listo cuanto antes. Mientras tanto,
            puedes
            <strong>
              descargar mi CV, seguirme en Github o contactarme a través de
              Linkedin.
            </strong>
          </p>
        </section>

        <section class="contact-links">
          <aside class="flex flex-col justify-center">
            <p class="alert">
              Por razones de privacidad, el CV no incluye información personal
              como mi dirección o número de teléfono. Si necesitas más
              información, no dudes en contactarme por medio de los enlaces
              proporcionados.
            </p>

            <a
              class="download-button"
              href="mi-cv.pdf"
              download="cv-victoralban.pdf"
              role="button"
            >
              Descargar CV
            </a>
          </aside>

          <aside class="flex justify-center items-center m-4 gap-4">
            <LinkButton
              href="https://github.com/vicboss11/"
              target="_blank"
              rel="noopener noreferrer"
            >
              <i class="ti ti-brand-github icon"></i>Github
            </LinkButton>

            <LinkButton
              href="https://www.linkedin.com/in/victor-alban/"
              target="_blank"
              rel="noopener noreferrer"
            >
              <i class="ti ti-brand-linkedin icon"></i>Linkedin
            </LinkButton>
          </aside>
        </section>
      </article>
    </section>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1rem;
    width: 800px;
    max-width: calc(100% - 2rem);
    color: white;
    font-size: 20px;
    line-height: 1.6;
  }

  section {
    margin-top: 3rem;
  }

  h1 {
    font-size: 4rem;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    margin-bottom: 1em;
  }

  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }

  .instructions {
    margin-bottom: 2rem;
    border: 1px solid rgba(var(--accent-light), 25%);
    background: linear-gradient(
      rgba(var(--accent-dark), 66%),
      rgba(var(--accent-dark), 33%)
    );
    padding: 1.5rem;
    border-radius: 8px;
  }

  .instructions strong {
    color: rgb(var(--accent-light));
  }

  .alert {
    color: rgba(var(--accent-light), 80%);

    font-size: 0.9rem;
    font-weight: 500;
    text-align: center;
  }

  .download-button {
    display: block;

    width: fit-content;
    margin: 1rem auto;
    padding: 0.5rem;

    border-radius: 0.5rem;

    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;

    font-weight: 500;

    transition: all 200ms ease-in-out;

    cursor: pointer;
  }

  .download-button:hover {
    opacity: 0.7;
    transform: scale(1.1);
  }

  .icon {
    display: grid;
    place-content: center;

    width: 2.5rem;
    height: 2.5rem;

    font-size: 1.875rem;
    line-height: 2.25rem;
  }
</style>
