---
const personalImageSrc = '/me.webp';
const personalImageAlt = 'Víctor Albán';
---

<article
  class="flex flex-col items-center justify-center gap-10 text-gray-700 dark:text-gray-300 md:flex-row"
>
  <div
    class="[&>p]:mb-4 [&>ul]:mb-4 [&>ul]:list-disc [&>ul]:ml-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>ul>li>strong]:text-yellow-500 dark:[&>ul>li>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono [&>ul>li>strong]:font-normal [&>ul>li>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      Me llamo Víctor Albán y soy desarrollador web con un
      <strong>enfoque claro en el frontend</strong>, aunque también disfruto
      trabajando en el backend cuando es necesario. Me interesa especialmente
      todo lo relacionado con
      <strong
        >interfaces bien pensadas, rendimiento, mantenimiento y buenas prácticas</strong
      > que ayuden a construir proyectos de calidad.
    </p>

    <p>
      Aunque disfruto mucho la parte técnica, intento no perder de vista que al
      final <strong>desarrollamos para personas</strong>, y entender eso también
      forma parte del trabajo.
    </p>

    <p>
      Fuera del código, me gusta hacer deporte y colaboro como <strong>
        voluntario en actividades deportivas, algo que me ha enseñado a
        organizarme mejor, comunicarme con distintos perfiles y adaptarme a
        situaciones imprevistas</strong
      >. También disfruto de ver series y películas, sobre todo aquellas que <strong
        >hacen pensar</strong
      >
      o tienen algún mensaje o trasfondo que invita a la reflexión; los
      <strong>libros que te obligan a leer "una página más"</strong>; y los <strong
        >videojuegos, por todo lo que combinan: reto, creatividad, diseño,
        narrativa y disfrute</strong
      >.
    </p>
  </div>

  <img
    class="order-1 object-cover md:self-start w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/5 dark:bg-gray-800 ring-1 ring-black/70 dark:ring-gray-600"
    style="object-position: 50% 50%"
    src={personalImageSrc}
    alt={personalImageAlt}
    width="200"
    height="200"
  />
</article>
