---
const personalImageAlt = 'Víctor Albán';
---

<article
  class="flex flex-col items-center justify-center gap-10 text-gray-700 dark:text-gray-300 md:flex-row"
>
  <div
    class="[&>p]:mb-4 [&>ul]:mb-4 [&>ul]:list-disc [&>ul]:ml-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>ul>li>strong]:text-yellow-500 dark:[&>ul>li>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono [&>ul>li>strong]:font-normal [&>ul>li>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      Mi objetivo, como Desarrollador Web, es aprovechar mis habilidades,
      experiencia y conocimientos en el desarrollo para <strong
        >crear aplicaciones web innovadoras, eficientes y de alta calidad</strong
      >. Estoy <strong
        >comprometido con el aprendizaje constante y la adaptación a nuevas
        tecnologías</strong
      >, con el fin de ofrecer experiencias de usuario excepcionales y alcanzar
      resultados sobresalientes en cada proyecto.
    </p>

    <p>En mi trabajo, me esfuerzo por:</p>

    <ul>
      <li>
        <strong>Dominar las últimas tecnologías y metodologías</strong> para ofrecer
        soluciones web de vanguardia.
      </li>

      <li>
        <strong>Escribir código limpio, eficiente y mantenible</strong> que garantice
        la calidad y el buen funcionamiento de las aplicaciones web.
      </li>

      <li>
        <strong
          >Resolver problemas complejos de manera creativa e innovadora</strong
        > para encontrar las mejores soluciones.
      </li>

      <li>
        <strong
          >Colaborar estrechamente con diseñadores, clientes y otros
          desarrolladores</strong
        > para lograr los mejores resultados.
      </li>

      <li>
        <strong>Mantenerme actualizado</strong> sobre las últimas tendencias en la
        industria del desarrollo web para poder ofrecer siempre el mejor servicio
        posible.
      </li>
    </ul>

    <p>Además de mis habilidades técnicas, también soy:</p>

    <ul>
      <li>
        Un aprendiz constante que siempre está buscando nuevas formas de mejorar
        mis habilidades y conocimientos.
      </li>

      <li>
        Un apasionado por la experiencia del usuario que se preocupa por crear
        interfaces intuitivas y atractivas que sean fáciles de usar y navegar.
      </li>

      <li>
        Una persona altamente motivada y orientada a los resultados con una
        fuerte ética de trabajo.
      </li>
    </ul>
  </div>

  <img
    class="order-1 object-cover md:self-start w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20"
    style="object-position: 50% 50%"
    alt={personalImageAlt}
    width="200"
    height="200"
    src="/me-beach.webp"
  />
</article>
