---
import ExperienceItem from './ExperienceItem.astro';

const EXPERIENCE = [
  {
    date: 'Septiembre 2024 - Actualidad',
    title: 'Desarrollador Web y Gestor Administrativo',
    company: 'Kukis Kids +',
    description: `
      <ul class="list-disc">
        <li>Desarrollo y mantengo el sitio web, aplicando mejoras funcionales y de rendimiento</li>
        <li>Implemento estrategias digitales para aumentar la visibilidad y presencia online</li>
        <li>Gestiono tareas administrativas como facturación, control de inventario y atención a clientes y proveedores</li>
      </ul>
    `,
  },
  {
    date: 'Diciembre 2021 - Mayo 2023',
    title: 'Desarrollador Web',
    company: 'Proyectos para consultoras IT',
    description: `
      <ul class="list-disc">
        <li>Desarrollo interfaces con Angular y maqueto diseños responsive con HTML/CSS</li>
        <li>Participo en proyectos de backend con Node.js, PHP y Python</li>
        <li>Implemento pruebas unitarias, reviso código y aplico buenas prácticas de desarrollo</li>
        <li>Trabajo en equipos ágiles, colaborando en entornos corporativos de gran escala</li>
        <li>Me adapto rápidamente a nuevos entornos y herramientas, gestionando tareas en paralelo según los requerimientos del cliente</li>
      </ul>
    `,
  },
  {
    date: 'Marzo 2020 - Noviembre 2021',
    title: 'Desarrollador Fullstack',
    company: 'Roams',
    description: `
      <ul class="list-disc">
        <li>Desarrollo y mantengo el CMS de las webs principales, utilizando Angular combinado con librerías como PrimeNG</li>
        <li>Maqueto y añado nuevas funcionalidades en la web de roams.es, de naturaleza multisite, utilizando técnicas de postprocesado y renderizado desde el servidor</li>
        <li>Desarrollo un conversor de archivos docx a HTML para facilitar el trabajo del departamento de contenido, implementado en Python (Flask)</li>
        <li>Implemento un AWS Lambda para redirigir enlaces de la web roams.es</li>
        <li>Programo APIs REST con PHP (Symfony) y Python</li>
        <li>Optimizo el proceso de despliegue de los distintos proyectos, utilizando Jenkins para el control y activación del despliegue</li>
        <li>Participo en la creación de contenedores de ejecución con Docker</li>
        <li>Integro la librería AMP en la web roams.es</li>
        <li>Aplico técnicas SEO para mejorar el posicionamiento de la web</li>
        <li>Utilizo Git como sistema de control de versiones</li>
      </ul>
    `,
  },
];
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experiencie) => (
      <li>
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>
